In [1]:
# Dependencies
import pandas as pd
import requests
import json
import gmaps
import matplotlib.pyplot as plt
import numpy as np
import datetime


# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
#Store filepath in a variable
file_two = "./listings_calendar.csv"

In [3]:
#Read file
file_two_df = pd.read_csv(file_two, encoding="ISO-8859-1")

In [4]:
file_two_df.tail()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
1102291,9343488,2020-09-24,t,$300.00,$300.00,1.0,1125.0
1102292,9343488,2020-09-25,t,$300.00,$300.00,1.0,1125.0
1102293,9343488,2020-09-26,t,$300.00,$300.00,1.0,1125.0
1102294,9343488,2020-09-27,t,$300.00,$300.00,1.0,1125.0
1102295,9343488,2020-09-28,t,$300.00,$300.00,1.0,1125.0

In [5]:
file_two_df["date"] = pd.to_datetime(file_two_df["date"])
file_two_df["day_of_week"] = file_two_df["date"].dt.day_name()
file_two_df['price'] = file_two_df['price'].astype(str)

#file_two_df.head()

file_two_df["price"] = file_two_df["price"].apply(lambda x: x.replace("$",""))
file_two_df["price"] = file_two_df["price"].apply(lambda x: x.replace(",",""))

file_two_df['price'] = file_two_df['price'].astype(float)